body{
    background-color: snow;
    font-family: Roboto, sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    color: orange;
    text-decoration: none;
}

.date {
    font-size: 14px;
}

.card-icons {
    font-size: 15px;
}

.card-email {
    color: #ee3344;
}

#create-h1 {
    text-align: center;
    margin-top: 70px;
}

#create-submit {
    font-size: 18px;
}

.container {
    margin-bottom: 50px;
}

.create-container {
    text-align: center;
}

#cancel{
    color: white;
}
#cancel:hover{
    color: white;
}

#main-center{
    text-align: center;
    margin-top: 70px;
}

#main-center-2{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
}

.card {
    margin-bottom: 10%;
    border: solid 1px dodgerblue;
}

#delete-h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#delete-form{
    float: left;
    margin-right: 40px;
}

#delete-button {
    background-color: dodgerblue;
    display: inline-block;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 34px;
    padding-left: 20px;
    padding-right: 20px;
}

#delete-button:hover {
    background-color: royalblue;
    display: inline-block;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 34px;
    padding-left: 20px;
    padding-right: 20px;
}

#delete-button-2 {
    background-color: #e34;
    display: inline-block;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 34px;
    padding-left: 20px;
    padding-right: 20px;
}

#delete-button-2:hover {
    background-color: crimson;
    display: inline-block;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 34px;
    padding-left: 20px;
    padding-right: 20px;
}

.card-text{
    white-space: pre;
    border: solid 1px dodgerblue;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.main-icon{
    font-size: 54px;
}