a{
    text-decoration: none;
}

a:hover{
    color: orange;
    text-decoration: none;
}

.status-active {
    background-color: lawngreen;
    color: white;
    display: inline-block;
    padding: 3px;
}

.date {
    font-size: 14px;
}

.card-icons {
    font-size: 15px;
}

.card-email {

}

#create-h1 {
    text-align: center;
    margin-top: 30px;
}

#create-submit {
    font-size: 18px;
}

.container {
    margin-bottom: 50px;
}

.create-container {
    text-align: center;
}

#cancel{
    color: white;
}
#cancel:hover{
    color: white;
}

#main-center{
    text-align: center;
}

.card {
    margin-bottom: 10%;
}